*{
    margin:0;
    padding:0;
    font-family: "Work Sans", sans-serif;
}
/*----google font----*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*----reused componant start----*/
.container{
    max-width:1180px;
    margin: 0 auto;
    padding:3.2rem 1rem;
}
/*----header section start----*/
header{
    background:#ff8f0e30;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    font-size:40px;
    color:#131313;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap:30px;
}
ul li a{
    text-decoration:none;
    color:#424242;
    font-size:20px;
}
/*----banner section start----*/
.banner{
    background:#ff8f0e30;
}
.banner_info{
    width:865px;
    margin:auto;
}
.banner_titile{
    text-align:center;
    font-size:64px;
    font-weight:900;
    padding: 30px 0;
    line-height:5rem;
}
.banner_description{
    font-size:16px;
    text-align: center;
    color:#727272;
    margin-bottom:30px;
}
.btn_primary{
    font-size:1.2rem;
    font-weight:600;
    display:block;
    margin:auto;
    padding:20px 20px;
    background:#FF900E;
    color:#fff;
    border-radius:5px;
    border:0;
    margin-bottom:30px;
}
.banner_img{
    max-width:100%;
}
/*----team section start----*/
.team_container{
    display:flex;
    align-items:center;
    gap:4.3rem;
}
.team_img_container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}
.team_heading{
    font-size:2.8rem;
}
.quickList{
    color:#727272;
    font-weight:400;
}
.features{
    color:#FF900E;
}
.team_discription{
    color:#727272;
    font-size:1rem;
    margin:2rem 0;
}
/*----features section starts*/
.featuresContainer{
  display:flex;
  gap:3rem;
  align-items: center;
  overflow: hidden;
}
.featuresContent {
  max-width: 50%;
}
.featuresDisc{
  color:#727272;
  font-size:1rem;
  margin-bottom:2rem;
}
.featuresTitle{
  font-size:2.8rem;
  padding-left:1.5rem;
  color:#131313;
  border-left:5px solid #FF900E;
  margin-bottom:1.5rem;
}
.featuresCard {
  padding: 0.9rem;
  margin-bottom: 1.3rem;
  box-shadow: 2px 2px 2px 1px #33333329;
}
.featuresCardTitle{
  font-size:1.3rem;
  margin-bottom:0.9rem;
  color: #131313;
  font-weight:600;
}
.featuresCardDisc{
  font-size:1rem;
  color:#727272;
}
.featuresImg img {
  max-width: 83%;
  margin-left: 5.5rem;
  overflow: hidden !important;
}
.featuresBadge{
  padding:2.8rem;
  background:#FF900E;
  color:#fff;
  text-align:center;
  border-radius:5px;
  width:21rem;
  position:relative;
  bottom:7rem;
}
.featuresBadge h2{
  font-size:4rem;
  font-weight:700;
}
.featuresBadge p{
  font-size:1rem;
}
/*----facts section start----*/
.factsTitle{
    color:#131313;
    font-size:2.8rem;
    font-weight:600;
    margin-bottom:1.5rem;
}
.factsDiscription{
    font-size:1rem;
    width:50%;
    color:#727272;
    margin-bottom:5.8rem;
}
.factBoxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    text-align: center;
  }
.factbox {
    border: 2px solid #FF900E;
    padding: 3rem;
    border-radius: .5rem;
  }
  .factIcon{
    margin-bottom:.8rem;
  }
  .factBoxTitle{
    margin-bottom:.5rem;
    font-size:2.8rem;
    font-weight:600;
    color:#424242;
  }
  .factBoxText{
    color:#727272;
    font-size:1.2rem;
    font-weight: 600;
  }
  /*----sponsors section start----*/
  .sponsors_content{
    text-align: center;
  }
  .sponsorTItle{
    color:#131313;
    font-size:2.8rem;
    font-weight:700;
    margin-bottom:1.6rem;
  }
  .sponsorDiscription{
    color:#727272;
    font-size:1rem;
    margin-bottom:3rem;
  }
  .sponsorGalary{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:5.5rem;
    margin-bottom:6rem;
  }
  .sponsorLogo{
    filter:grayscale(100%);
    max-width:10rem;
  }
  .sponsorLogo:hover{
    filter:grayscale(0%);
    transition-duration:0.5s;
    
  }
  /*----footer section start----*/
  footer{
    background:#FFF4E7;
  }
  .footerText{
    font-size:1.2rem;
    text-align:center;
    color:#424242;
  }
  .coderssayed{
    text-decoration: none;
    color:#424242;
  }
  .coderssayed:hover{
    color:#FF900E;
    transition-duration:0.5s;
  }
/*----responsive style start----*/
/*----mobile device start----*/
@media screen and (max-width:575px) {
    .container {
        max-width: 100%;
        padding:1rem;
        overflow:hidden;
    }
    .btn_primary{
        font-size:1rem;
        padding:15px 15px;
    }
/*----header style start----*/
    nav{
        display: flex;
        flex-direction:column;
    }
    .logo{
        margin-bottom:15px;
        font-size:30px;
    }
    ul li a {
        font-size: 18px;
    }
/*----banner style start----*/
.banner{
    padding:20px 0;
}
.banner_info {
width: 90%;
margin: auto;
}
.banner_titile{
font-size:40px;
line-height:3rem;
padding:0 0 20px 0;
}
.banner_img {
max-width: 90%;
margin: auto;
display: block;
}
/*----team section start----*/
.team_container {
    display: flex;
    flex-direction: column;
  }
  .team_img_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .teamImg {
    max-width: 100%;
  }
  .team_heading {
    font-size: 2rem;
    text-align: center;
  }
  .team_discription {
    text-align: center;
  }
  /*----features section start----*/
  .featuresContainer{
    flex-direction: column;
  }
  .featuresContent{
    max-width:100%;
  }
  .featuresTitle {
    font-size: 2rem;
  }
  .featuresImg img {
    max-width:90%;
    margin-left: 5.5rem;
    overflow: hidden !important;
  }
  .featuresBadge{
    bottom:3.5rem;
    width:40%;
  }
  .featuresBadge h2 {
    font-size: 2rem;
  }
  /*----facts section start----*/
  .factsTitle{
    font-size:2rem;
  }
  .factsDiscription {
    width: 100%;
    margin-bottom: 3rem;
    line-height: 1.5;
  }
  .factBoxContainer{
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .factBoxTitle{
    font-size:1.8rem;
  }
  /*----facts section start----*/
  .sponsorTItle{
    font-size:2rem;
  }
  .sponsorDiscription{
    margin-bottom:2rem;
  }
  .sponsorGalary{
    grid-template-columns:repeat(3, 1fr);
    gap:3rem;
  }
  .sponsorLogo{
    max-width:100%;
  }
  /*----footer section start----*/
  footer {
    padding: 1.5rem 0;
  }
  .footerText{
    font-size:1rem;
  }
}
/*----medium device start----*/
@media screen and (min-width:576px) and (max-width:980px){
    .container {
        max-width: 100%;
        padding:1rem;
        overflow:hidden;
    }
    .btn_primary{
        font-size:1rem;
        padding:15px 15px;
    }
/*----header style start----*/
    .logo{
        font-size:1.5rem;
    }
    ul li a {
        font-size: 1.1rem;
    }
/*----banner style start----*/
    .banner{
        padding:20px 0;
    }
    .banner_info {
        width: 90%;
        margin: auto;
    }
    .banner_titile{
        font-size:40px;
        line-height:3rem;
        padding:0 0 20px 0;
    }
    .banner_img {
        max-width: 90%;
        margin: auto;
        display: block;
    }
    /*----team section start----*/
    .team_container {
        flex-direction: column;
      }
      .teamImg {
        max-width: 100%;
      }
      .team_discription_container {
        text-align: center;
      }
      .team_heading {
        font-size: 2.1rem;
      }
      /*----features section start----*/
      .featuresContainer{
        flex-direction: column;
      }
      .featuresContent{
        max-width:100%;
      }
      .featuresTitle{
        font-size:  2.1rem;
      }
      .featuresImg img {
        max-width:90%;
        margin-left: 5.5rem;
        overflow: hidden !important;
      }
      .featuresBadge{
        max-width:40%;
        bottom:4rem;
      }
      .featuresBadge h2 {
        font-size: 2.5rem;
        font-weight: 700;
      }
      /*----facts section start----*/
      .factsTitle{
        font-size:2.1rem;
      }
      .factsDiscription {
        width: 100%;
        margin-bottom: 3rem;
      }
      .factBoxContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      .factBoxTitle {
        font-size: 2rem;
      }
      /*----sponsors section start----*/
      .sponsorTItle {
        font-size: 2.1rem;
      }
      .sponsorGalary {
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
      }
      .sponsorLogo {
        max-width: 100%;
      }
      /*----footer section start----*/
    footer {
        padding: 1.5rem 0;
     }
    .footerText{
        font-size:1rem;
    }
}
